<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.expensemanager">


    <application
        android:allowBackup="true"
        android:icon="@drawable/expensemanageicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ReportsActivity"
            android:label="Reports"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ShowTransactionsActivity"
            android:label="All Transactions"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddEditExpenseActivity"
            android:label="Add Expense"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddEditIncomeActivity"
            android:label="Add Income"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>